@import '../index';
@import './variables';

.card_box {
  width: 390px;
  height: auto;
  img {
    width: 100%;
    height: auto;
  }
  &:hover {
    border: 1px solid $point;
    cursor: pointer;
  }
}

.card_title {
  font-family: "PretendardMedium";
  font-size: $headline_size;
  font-weight: $h2_weight;
  line-height: $headline_height;
  color: $gray5;
  margin-top: 25px;
  margin-bottom: 5px;
}

.card_summary {
  font-family: "PretendardMedium";
  font-size: $body_size;
  font-weight: $default_weight;
  line-height: $body2_height;
  color: $gray3;
  margin-bottom: 17px;
}

.author_box {
  display: flex;
  align-items: center;
  span {
    font-family: "PretendardMedium";
    font-size: $footnote2_size;
    font-weight: $default_weight;
    line-height: $footnote2_height;
    color: $gray3;
    margin-right: 10px;
  }
}

@include mobile {
  .card_box {
    width: 100%;
    height: 360px;
    img {
      width: 100%;
      height: auto;
    }
    &:hover {
      border: 1px solid $point;
    }
    margin-bottom: 66px;
  }

  .card_title {
    font-size: $headline_mobile_size;
    font-weight: $h2_weight;
    line-height: $headline_mobile_height;
    margin-top: 16px;
  }

  .card_summary {
    font-size: $body2_mobile_size;
    font-weight: $default_weight;
    line-height: $body2_mobile_height;
  }


  .author_box {
    span {
      font-size: $footnote2_mobile_size;
      line-height: $footnote2_mobile_height;
    }
  }
}