@import "../index.scss";
@import "../Style/variables.scss";
.content-page-container {
  position: relative;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 100px;
}
.content-page-wrapper {
  box-sizing: border-box;
  // max-width: $content_screen;
  max-width: 1024px;
  width: 100%;

  height: auto;

  margin-bottom: 200px;
}

.content-page-header-wrapper {
  height: 425px;
  max-width: 816px;
  width: 100%;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 18px;
  margin: 0 auto;

  .title {
    // font-size: 45px;
    // font-size: 36px;
    // font-family: "GmarketSansMedium", "GmarketSansBold", "GmarketSansLight",
    //   sans-serif;
    // // font-family: "Pretendard";
    // font-weight: 400px;
    font-family: "PretendardMedium";
    font-size: 36px;
    font-weight: 400;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;

    margin-bottom: 10px;
  }
  .subtitle {
    // font-size: $body_size;
    // font-size: 18px;
    // font-family: "GmarketSansMedium", "GmarketSansBold", "GmarketSansLight", sans-serif;
    // font-weight: 54.01px;
    //styleName: 🖥 Desktop/Body/Regular 2;
    font-family: "PretendardMedium";
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;

    margin-bottom: 60px;
  }
  .content-info-box {
    display: flex;
    align-items: center;
    .author,
    .date {
      // font-size: $footnote2_size;
      //styleName: 🖥 Desktop/Body/Regular 2;
      font-family: "PretendardMedium";
      font-size: 18px;
      font-weight: 400;
      line-height: 25px;
      letter-spacing: 0em;
      text-align: left;

      color: $gray2;
    }
    .author {
      margin-right: 20px;
    }
  }
}
.content-page-progress-bar-wrapper {
  position: sticky;
  width: 100%;
  top: 150px;

  .test {
    position: absolute;
    width: 100vw;
    margin-left: -50vw;
    left: 50%;
    background-color: $gray4;
    height: 2px;
    bottom: 50px;
    .content-page-progress-bar {
      position: relative;
      z-index: 3;
      height: 5px;
      background: $point;

      left: 50%;
      margin-left: -50vw;
      bottom: 0px;
    }
  }
}

.content-page-content-wrapper {
  padding: 0 18px;

  max-width: 816px;
  width: 100%;
  margin-bottom: 55px;
  margin: 0 auto;
  .disclaimer {
    margin-bottom: 60px;
    //styleName: 🖥 Desktop/Body/Regular 1;
    font-family: "PretendardMedium";
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
  }

  .thumbnail {
    width: 500px;
    height: 325px;
    background-image: url("../Assets/image/content/content_thumbnail.png");
    background-size: cover;
    margin-bottom: 60px;
  }
  .content-box {
    width: 100%;
    max-width: 1280px;
    .title {
      font-family: "PretendardBold";
      font-size: 22px;
      font-weight: 700;
      line-height: 26px;
      letter-spacing: 0em;
      text-align: left;
      margin-bottom: 10px;

      //styleName: 🖥 Desktop/H2/Bold;

      //styleName: 🖥 Desktop/Body/Regular 1;
    }
    .content {
      // font-size: $body_size;
      font-family: "PretendardMedium";
      font-size: 18px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0em;
      text-align: left;
      margin-bottom: 20px;
    }
  }
}

.content-page-direction-wrapper {
  display: none;
}
@include mobile {
  .content-page-wrapper {
    min-width: 335px;
    width: 90%;
    .content-page-header-wrapper {
      height: 300px;
      .title {
        font-size: 22px;
      }
      .subtitle {
        font-size: 14px;
        margin-bottom: 25px;
      }
      .content-info-box {
        .author,
        .date {
          font-size: 12px;
        }
      }
    }

    .content-page-content-wrapper {
      .disclaimer {
        font-size: 14px;
        margin-bottom: 30px;
      }
      .thumbnail {
        width: 335px;
        height: 220px;
        margin-bottom: 30px;
      }
      .content-box {
        width: 100%;
        .title,
        .content {
          margin: 0;
          font-size: 14px;
          line-height: 22px;
        }
      }
    }
  }
  .content-page-direction-wrapper {
    display: block;
    position: relative;
    width: 100%;
    .prev-content {
      display: flex;
      position: relative;
      height: 70px;
      color: $gray5;

      .background-image {
        position: absolute;
        width: 100%;
        height: 100%;
        filter: blur(7px);
      }
      .content {
        position: static;
        z-index: 3;
        width: 100%;
        height: 100%;
        display: flex;
        background: rgba(0, 0, 0, 0.4);
        .column1 {
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .column2 {
          flex: 9;
          padding: 15px 0px;
        }
      }
    }
    .next-content {
      display: flex;
      position: relative;
      height: 70px;
      color: $gray5;
      .background-image {
        position: absolute;
        width: 100%;
        height: 100%;
        filter: blur(4px);
      }
      .content {
        position: static;
        z-index: 3;
        width: 100%;
        height: 100%;
        display: flex;
        background: rgba(0, 0, 0, 0.3);
        .column1 {
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .column2 {
          flex: 9;
          padding: 15px 0px;
          margin-left: 37.5px;
        }
      }
    }
  }
}
