@import '../index';
@import "variables";

.mail_box {
  display: flex;
  align-items: center;
  margin-top: 50px;
  .mail_icon {
    margin-right: 15px;
  }
  .mail {
    color: $gray5;
  }
}

.contact_row_box {
  display: flex;
  margin-bottom: 30px;
}

.download_box {
  border: 1px solid $gray5;
  font-family: "PretendardMedium", "PretendardLight", "PretendardBold", sans-serif;
  font-size: 15px;
  font-weight: $default_weight;
  line-height: $body1_height;
  color: $gray5;
  width: auto;
  padding: 20px 36px;
  margin-top: 100px;
  margin-right: 100px;
  cursor: pointer;
  &:hover {
    background-color: $point;
    color: $gray0;
    border: 1px solid $point;
    font-weight: bold;
  }
}

@include mobile {
  .mail {
    margin: 30px 0 24px;
  }

  .download_box {
    font-size: $body3_mobile_size;
    line-height: $body3_mobile_height;
    margin-right: 0;
    margin-top: 53px;
    padding: 14px 26px;
  }
  .download_box:not(:first-child) {
    margin-top: 20px;
  }

  .contact_row_box {
    flex-direction: column;
  }

}