@import "../index.scss";
.contents-page-container {
  width: 100%;
  height: 100%;
  background-color: #f6f6f7;
  margin-top: 100px;
}

.page-content-box {
  .item {
    width: 1164px;
    height: 309px;
  }
}
