@import '../index';
@import "variables";

.mail {
  margin: 60px 0 45px;
}

.contact_row_box {
  display: flex;
}

.download_box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $gray5;
  font-family: "GmarketSansMedium", "GmarketSansLight", "GmarketSansBold", sans-serif;
  font-size: $body_size;
  font-weight: $default_weight;
  line-height: $body1_height;
  color: $gray5;
  padding: 20px 36px;
  margin-top: 100px;
  margin-right: 100px;

  &:hover {
    background-color: $point;
    color: $gray0;
    border: 1px solid $point;
  }
}

@include mobile {
  .mail {
    margin: 30px 0 24px;
  }

  .download_box {
    font-size: $body3_mobile_size;
    line-height: $body3_mobile_height;
    margin-right: 0;
    margin-top: 53px;
    padding: 14px 26px;
  }
  .download_box:not(:first-child) {
    margin-top: 20px;
  }

  .contact_row_box {
    flex-direction: column;
  }

}