@import '../index';
@import './variables';


.h0_title{
  font-family: "GmarketSansBold", "GmarketSansMedium", "GmarketSansLight", sans-serif;
  font-size: $h0_size;
  font-weight: $default_weight;
  line-height: $h0_height;
  margin-top: 240px;
  color: $gray5;
}

.dot {
  color: $point;
}

@include mobile {
  .h0_title {
    font-size: $h1_mobile_size;
    line-height: $h1_mobile_height;
    margin-top: 162px;
  }
}