@import "../index.scss";
@import "./variables.scss";

.header-container-black {
  transition: 0.5s;
  background-color: $gray0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;

  height: $header_height;
  .wrapper {
    max-width: 816px;
    background-color: transparent;
    width: 100%;

    height: 100px;
    display: flex;

    align-items: center;
    .logo_wrapper {
      text-align: center;
      #a41LogoGreen {
        background-image: url("../Assets/icon/a41LogoGreen.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 106px;
        height: 40px;
      }
      #a41LogoWhite {
        background-image: url("../Assets/icon/a41LogoWhite.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 106px;
        height: 40px;
      }
    }
    .category_wrapper {
      flex: 0.9;
      display: flex;
      justify-content: space-around;
      padding-top: 12px;
      .category {
        height: 26px;
        color: $gray5;
        text-decoration: none;
        font-size: $footnote1_size;
        font-family: "GmarketSansBold", "GmarketSansMedium", "GmarketSansLight", sans-serif;
        font-weight: $h2_weight;
        padding: 0 5px;
        padding-top: 1px;
      }
      .category.selected {
        //background-color: $headerCategoryBgColor;
        color: $point;
        text-decoration: underline;
        text-decoration-color: $point;
        text-underline-offset: 7px;
        text-underline-style: thick;
      }
      .category:hover {
        //background-color: $headerCategoryBgColor;
        color: $point;
        text-decoration: underline;
        text-decoration-color: $point;
        text-underline-offset: 7px;
        text-underline-style: thick;
      }
    }
    .language_wrapper-black {
      flex: 0.1;
      padding-top: 12px;
      cursor: pointer;

      .language_box {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 3px;
        font-family: "GmarketSansBold", "GmarketSansMedium", "GmarketSansLight", sans-serif;
        font-size: $caption_size;
        font-weight: $h2_weight;
        margin-bottom: 0px;
      }
      .EN-active {
        position: relative;
        background: $gray5;
        width: 36%;
        margin-left: 14px;
        height: 2px;
        margin-top: 3px;
        transform: translateX(100%);
        transition: transform 0.2s;
      }
      .KO-active {
        position: relative;
        background: $gray5;
        width: 36%;
        margin-left: 5px;
        margin-top: 3px;
        height: 2px;
        transform: translateX(0%);
        transition: transform 0.2s;
      }
      .unselected_language {
        color: $gray2;
      }
      .selected_language {
        color: $gray5;
      }
    }
    .menu {
      display: none;
    }

    .language_wrapper-white {
      @extend .language_wrapper-black;
      .EN-active {
        // @extend .EN-active;
        background: $gray0;
      }
      .KO-active {
        // @extend .KO-active;
        background: $gray0;
      }
      .unselected_language {
        color: $gray3;
      }
      .selected_language {
        color: $gray0;
      }
    }
    .menu {
      display: none;
    }
  }
}

.header-container-white {
  @extend .header-container-black;
  background-color: rgba(255, 255, 255, 0.4);
  background-color: $gray5;
  .wrapper {
    .category_wrapper {
      .category {
        color: $gray0;
      }
    }
    .selected_language {
      color: $gray0;
      border-bottom: 1px $gray5 solid;
    }
  }
}
.header-container-white.content-header {
  @extend .header-container-white;
  background-color: $gray5;
}

.header-container-trans {
  @extend .header-container-black;
  background: transparent;
}

.header-container-trans-with-black {
  @extend .header-container-white;
  background: transparent;
}

@include mobile {
  .header-container-black {
    max-width: 768px;
    min-width: 320px;
    width: 100%;
    height: 100px;
    .wrapper {
      justify-content: space-between;
      padding: 0 20px;

      .logo_wrapper {
        #a41LogoWhite,
        #a41LogoGreen {
          width: 106px;
          height: 40px;
        }
      }
      .category_wrapper {
        display: none;
        .category {
          display: none;
        }
      }
      .language_wrapper-black {
        display: none;
      }
      .language_wrapper-white {
        display: none;
      }
      .menu {
        display: block;
        fill: $gray5;
        cursor: pointer;
      }
    }
  }
}

@include mobile {
  .header-container-white {
    background-color: $gray5;
    .wrapper {
      .category_wrapper {
        .category {
          color: $gray0;
        }
      }
      .selected_language {
        color: $gray0;
        border-bottom: 1px $gray5 solid;
      }
      .menu {
        display: block;
        fill: $gray0;
        cursor: pointer;
      }
    }
  }
}
