@import "../index.scss";
@import "./variables.scss";

.container_black {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: $header_height;
  .wrapper {
    background-color: transparent;
    width: $content_screen;
    height: 100px;
    display: flex;

    align-items: center;
    .logo_wrapper {
      text-align: center;
    }
    .category_wrapper {
      flex: 0.9;
      display: flex;
      justify-content: space-around;
      .category {
        color: $gray5;
        text-decoration: none;
      }
    }
    .language_wrapper {
      flex: 0.1;
      display: flex;
      justify-content: space-around;
      cursor: pointer;
    }
    .unselected_language {
      color: $gray2;
    }
    .selected_language {
      color: $gray5;
      border-bottom: 1px $gray5 solid;
    }
    .menu {
      display: none;
    }
  }
}

.container_white {
  @extend .container_black;
  background-color: $gray5;
  .wrapper {
    .category_wrapper {
      .category {
        color: $gray0;
      }
    }
    .selected_language {
      color: $gray0;
      border-bottom: 1px $gray5 solid;
    }
  }
}

@include mobile {
  .container_black {
    .wrapper {
      width: 375px;
      height: 100px;
      justify-content: space-between;
      padding: 0 20px;

      .logo_wrapper {
      }
      .category_wrapper {
        display: none;
      }
      .language_wrapper {
        display: none;
      }
      .menu {
        display: block;
      }
    }
  }
}

@include mobile {
  .container_white {
    @extend .container_black;
    background-color: $gray5;
    .wrapper {
      .category_wrapper {
        .category {
          color: $gray0;
        }
      }
      .selected_language {
        color: $gray0;
        border-bottom: 1px $gray5 solid;
      }
    }
  }
}
