@import "../index";
@import "./variables";

.content-box {
  max-width: 816px;
  width: 100%;
}

.container_img {
  width: 100%;
  min-height: 190vh;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.51) 0.01%, #000000 100%), url("../Assets/thesis.jpg");
}

.container_bk {
  @extend .container_img;
  background: $gray0;
  border: 1px solid black;
}

.title_box {
  margin: 0;
  position: fixed;
  top: 232px;
  .thesis_h0 {
    font-family: "GmarketSansBold", "GmarketSansMedium", "GmarketSansLight", sans-serif;
    font-size: $h0_size;
    font-weight: $default_weight;
    line-height: $h0_height;
    color: $gray5;
    z-index: 200;
    margin-bottom: 20px;
    .dot {
      color: $point;
    }
  }
}

.thesis_content_box {
  position: fixed;
  top: 390px;
}

.thesis1_action3 {
  animation: fade-out-translate 1s forwards;
}

.thesis1_action4 {
  display: none;
}

.thesis_2nd_content_box {
  position: fixed;
  top: 390px;
  display: none;
}

.thesis2_action1 {
  display: block;
  animation: fade-in-translate 1s forwards;
}

.thesis2_action2 {
  display: block;
  animation: fade-in-translate 1s forwards;
}

.thesis2_action3 {

  display: block;
}

.background_action1 {
  animation: fade-out 1s forwards;
  background: $gray0;
}

@keyframes fade-out {
  0% {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.51) 0.01%, #000000 100%), url("../Assets/thesis.jpg");
  }
  100% {
    background: linear-gradient(180deg, rgba(0, 0 , 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 0.01%, #000000 40%), url("../Assets/thesis.jpg");
  }
}

@keyframes fade-in-translate {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out-translate {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(-30px);
    opacity: 0;
  }
}

.thesis_content {
  display: flex;
  margin-bottom: 14px;
  .thesis_headline_gray2 {
    font-size: $headline_size;
    font-weight: $h2_weight;
    line-height: $headline-height;
    color: $gray2;
    margin-right: 10px;
  }
  .thesis_headline_gray5 {
    @extend .thesis_headline_gray2;
    color: $gray5;
  }

}






.thesis_2nd_content {
  font-family: "GmarketSansBold", "GmarketSansMedium", "GmarketSansLight", sans-serif;
  font-size: $headline_size;
  font-weight: $h2_weight;
  line-height: $headline-height;
  color: $gray5;
}


@include mobile {
  .title_box {
    margin: 0 20px;
    top: 160px;
    .thesis_h0 {
      font-family: "GmarketSansBold", "GmarketSansMedium", "GmarketSansLight", sans-serif;
      font-size: $h0_mobile_size;
      font-weight: $h2_weight;
      line-height: $h0_mobile_height;
      margin: 0;
    }
  }
  .thesis_content_box {
    margin: 0 20px;
    width: 90%;
    top: 350px;
  }
  .thesis_content {
    box-sizing: border-box;
    flex-direction: column;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.15);
    margin-bottom: 18px;
    width: auto;
    height: 80px;
    padding: 15px 20px;
    .thesis_headline_gray2 {
      font-family: "GmarketSansBold", "GmarketSansMedium", "GmarketSansLight", sans-serif;
      font-size: $headline_mobile_size;
      font-weight: $h2_weight;
      line-height: $headline_mobile_height;
      color: $gray3;
    }
    .thesis_headline_gray5 {
      @extend .thesis_headline_gray2;
      color: $gray5;
      margin-top: 7px;
      letter-spacing: -1px;
    }
  }

  .thesis_2nd_content_box {
    top: 350px;
    margin: 0 20px;
  }


  .thesis_2nd_content {
    font-family: "GmarketSansBold", "GmarketSansMedium", "GmarketSansLight", sans-serif;
    font-size: $h2_mobile_size;
    font-weight: $h2_weight;
    line-height: $h2_mobile_height;
    color: $gray5;
    letter-spacing: -1px;
    word-break: break-word;
    margin-bottom: 113px;
  }
}