@import "../index.scss";
@import "./variables";

.content_box {
  width: $content_screen;
  height: auto;
}

.portfolio1_title {
  margin-bottom: 155px;
}

@include mobile {
  .content_box {
    width: 375px;
    padding: 0 20px;
    box-sizing: border-box;
  }
}