@import '../index';
@import './variables';

a {
  text-decoration: none;
}

.container_box {
  width: 100%;
  display: flex;
  //justify-content: stretch;
  margin-bottom: 150px;
}

.container_box_column {
  width: 100%;
}

.portfolio1_logo_150 {
  width: 150px;
  height: 150px;
  margin-right: 110px;
}

.portfolio1_logo_240 {
  width: 240px;
  height: 212px;
  margin-bottom: 82px;
  margin-top: 134px;
}

.text_box {
  .contents{
    font-family: "GmarketSansMedium", "GmarketSansLight", "GmarketSansBold", sans-serif;
    font-size: $body_size;
    font-weight: $default_weight;
    line-height: $body1_height;
    color: $gray5;
    margin-bottom: 30px;
  }

  .portfolio2_contents {
    @extend .contents;
  }
}

.portfolio_title_box {
  display: flex;
  align-items: flex-end;
  .name {
    font-family: "GmarketSansBold", "GmarketSansMedium", "GmarketSansLight", sans-serif;
    font-size: $h1_size;
    font-weight: $h2_weight;
    line-height: $h2_height;
    color: $gray5;
    margin-right: 12px;
  }
  .protocol {
    font-family: "GmarketSansMedium", "GmarketSansLight", "GmarketSansBold", sans-serif;
    font-size: $body_size;
    font-weight: $default_weight;
    line-height: $body1_height;
    color: $point;
  }
  margin-bottom: 20px;
}
.portfolio_title_column_box {
  @extend .portfolio_title_box;
}

.tag_box {
  display: flex;
  margin-bottom: 30px;
  .tag_container {
    font-family: "GmarketSansLight", "GmarketSansBold", "GmarketSansMedium", sans-serif;
    font-size: $footnote2_size;
    font-weight: $default_weight;
    line-height: $footnote2_height;
    display: flex;
    width: 66px;
    height: 27px;
    border: 1px solid $gray5;
    border-radius: 20px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
  }
}

.goTwitter {
  margin-bottom: 30px;
  cursor: pointer;
    path {
      fill: $gray2;
    }
  &:hover {
    path {
      fill: $point;
    }
  }
}

.goToWeb {
  display: flex;
  cursor: pointer;
  border: 1px solid $gray5;
  width: 166px;
  height: 46px;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: $point;
    border: 1px solid $point;
    color: $gray0;
  }
}

.portfolio2_goToWeb {
  @extend .goToWeb;
}

@include mobile {
  .portfolio1_logo_150 {
    width: 112px;
    height: 99px;
    margin-right: 30px;
  }
  .portfolio1_logo_240 {
    width: 112px;
    height: 99px;
    margin-bottom: 46px;
    margin-top: 54px;
  }
  .text_box {
    .contents {
      height: 36px;
      overflow: hidden;
      font-size: $footnote2_mobile_size;
      font-weight: $default_weight;
      line-height: $footnote2_mobile_height;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 83.85%);
      margin-bottom: 20px;
    }
    .portfolio2_contents {
      height: auto;
      font-size: $body2_mobile_size;
      line-height: $body2_mobile_height;
      background: transparent;
    }
  }

  .portfolio_title_box {
    flex-direction: column;
    margin-bottom: 12px;
    align-items: flex-start;
    .name {
      font-family: "GmarketSansBold", "GmarketSansMedium", "GmarketSansLight", sans-serif;
      font-size: $h2_mobile_size;
      font-weight: $h2_weight;
      line-height: $h2_mobile_height;
    }
    .protocol {
      font-family: "GmarketSansMedium", "GmarketSansLight", "GmarketSansBold", sans-serif;
      font-size: $body1_mobile_size;
      font-weight: $default_weight;
      letter-spacing: -1px;
      line-height: $body1_mobile_height;
    }
  }

  .portfolio_title_column_box {
    flex-direction: row;
    align-items: flex-end;
  }

  .tag_box {
    .tag_container {
      width: 54px;
      height: 22px;
      font-size: $footnote2_mobile_size;
      font-weight: $default_weight;
      line-height: $footnote2_mobile_height;
      margin-right: 14px;
    }
    margin-bottom: 24px;
  }

  .goTwitter {
    path {
      width: 20px;
      height: 16px;
      fill: $gray5;
    }
    margin-bottom: 24px;
  }

  .goToWeb {
    width: 112px;
    height: 36px;
    font-size: 16px;
    font-weight: $h2_weight;
    line-height: 32px;
    &:hover {
      background-color: $point;
      border: 1px solid $point;
      color: $gray0;
    }
  }
  .portfolio2_goToWeb {
    width: 100%;
  }
}