@import "../index.scss";
@import "./variables";

.content_box {
  max-width: 816px;
  width: 100%;
  height: auto;
}

.view_icon {
  margin: 0;
  cursor: pointer;
}

.portfolio1_title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 100px;
}

@include mobile {
  .content_box {
    width: 375px;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .portfolio1_title {
    margin-bottom: 57px;
  }
  .view_icon {
    display: none;
  }
}