@import "../index";
@import "./variables";

.card_container {
  width: 380px;
  height: 400px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  .stake_thumbnail {
    width: 120px;
    height: auto;
    object-fit: cover;
  }

  .staking_title {
    font-family: "PretendardBold", "PretendardMedium", "PretendardLight",
      sans-serif;
    font-size: $headline_size;
    font-weight: $h2_weight;
    line-height: $headline_height;
    color: $gray5;
    margin-top: 30px;
  }
  .staking_desc {
    @extend .staking_title;
    font-size: $caption_size;
    margin-top: 15px;
    word-break: keep-all;
    min-height: 65px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .stake_button {
    font-family: "PretendardBold", "PretendardMedium", "PretendardLight",
      sans-serif;
    font-size: $h1_size;
    font-weight: $h2_weight;
    line-height: $h2_height;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $gray0;
    color: $point;
    border: 1px solid $point;
    border-radius: 10px;
    width: 208px;
    height: 56px;
    margin-top: 30px;
  }
  &:hover {
    border: 1px solid $gray5;
    .stake_button {
      background-color: $point;
      color: $gray0;
    }
  }
}

@include mobile {
  .card_container {
    width: 100%;
    height: auto;
    // min-height: 323px;
    min-height: 345px;
    // padding: 36px 0px;
    padding: 0px;
    .stake_thumbnail {
      width: 80px;
      width: 100px;
      // width: 80px;
    }
    .staking_title {
      font-size: $body2_mobile_size;
      line-height: $body2_mobile_height;
      // margin-top: 10px;
      margin-top: 30px;
    }
    .stake_button {
      height: 42px;
      font-size: $headline_mobile_size;
      line-height: $headline_mobile_height;
    }
  }
}
