@import '../index';
@import './variables';


.team_twitter {
  margin-right: 25px;
  path {
    fill: $gray5;
  }
  &:hover {
    path {
      fill: $point;
    }
  }
}

.team_linkedIn {
  path {
    fill: $gray5;
  }
  &:hover {
    path {
      fill: $point;
    }
  }
}

.list_box {
  width: 302px;
  height: 433px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  position: relative;
  .pointer_box {
    cursor: pointer;
  }
  img {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    margin-bottom: 40px;
    overflow: hidden;
    align-self: center;
    object-fit: cover;
    object-position: top;
  }
}

.row_box {
  display: flex;
  align-items: flex-end;
  margin-bottom: 11px;
}

.en_name {
  font-family: "GmarketSansBold", "GmarketSansMedium", "GmarketSansLight", sans-serif;
  font-size: $h1_size;
  font-weight: $h2_weight;
  line-height: $h2_height;
  color: $gray5;
  margin-right: 16px;
}

.ko_name {
  font-family: "GmarketSansLight", "GmarketSansBold", "GmarketSansMedium", sans-serif;
  font-size: $footnote1_size;
  font-weight: 600;
  line-height: $footnote1_height;
  color: $gray3;
  align-self: center;
}

.position {
  font-family: "GmarketSansMedium", "GmarketSansLight", "GmarketSansBold", sans-serif;
  font-size: $body_size;
  font-weight: $default_weight;
  line-height: $body2_height;
  color: $gray5;
  margin-bottom: 30px;
  letter-spacing: -0.4px;
}

@include mobile {

  svg {
    margin-right: 25px;
    path {
      fill: $gray5;
      width: 20px;
      height: 16px;
    }
  }

  .list_box {
    margin-top: 50px;
    width: 244px;
    height: 380px;
    .img_border_box {
      width: 210px;
      height: 210px;
      border-radius: 50%;
      top: -12px;
      left: 6px;
      &:hover {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 1px solid $point;
        background: linear-gradient(0deg, rgba(153, 241, 0, 0.2), rgba(153, 241, 0, 0.2));
        top: 0px;
        left: 21px;
      }
    }
    img {
      width: 200px;
      height: 200px;
      margin-bottom: 27px;
      align-self: center;
      border-radius: 50%;
    }
  }

  .en_name {
    font-size: $h2_mobile_size;
    line-height: $h2_mobile_height;
  }

  .ko_name {
    font-family: "GmarketSansMedium", "GmarketSansLight", "GmarketSansBold", sans-serif;
    font-size: $body2_mobile_size;
    font-weight: $default_weight;
    line-height: $body2_mobile_height;
  }

  .position {
    font-family: "GmarketSansLight", "GmarketSansBold", "GmarketSansMedium", sans-serif;
    font-size: $body1_mobile_size;
    line-height: $body1_mobile_height;
    letter-spacing: -2px;
    word-break: break-all;
  }
}