@import '../index';
@import './variables';

.profile_box {
  display: flex;
  align-items: flex-end;
  margin-top: 176px;
  margin-bottom: 140px;
  position: relative;
}

.big_profile_img{
  width: 400px;
  height: 400px;
  margin-right: 74px;
}

.big_img_border_box {
  width: 410px;
  height: 410px;
  position: absolute;
  border-radius: 50%;
  border: 1px solid $point;
  left: -22px;
  top: -22px;
}

hr {
  width: 100%;
  color: $gray2;
  margin-bottom: 100px;
}

.profile_section {
  font-family: "GmarketSansMedium", "GmarketSansLight", "GmarketSansBold", sans-serif;
  font-size: $body_size;
  font-weight: $default_weight;
  line-height: $body1_height;
  color: $gray5;
  width: 100%;
  height: auto;
  margin-top: 50px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: $body1_height;
  li:before {
    content: "-";
  }
}

@include mobile {
  .profile_box {
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 70px;
  }
  .big_profile_img{
    width: 200px;
    height: 200px;
    margin-bottom: 27px;
    margin-right: 0px;
  }

  .big_img_border_box {
    width: 208px;
    height: 208px;
    left: 53px;
    top: -12px;
  }

  hr {
    margin-bottom: 30px;
  }

  .profile_section {
    font-size: $body1_mobile_size;
    line-height: $body1_mobile_height;
  }

}