/*
Palette
*/

$gray0: #000000;
$gray1: #4b4b4b;
$gray2: #818181;
$gray3: #bdbdbd;
$gray4: #e0e0e0;
$gray5: #ffffff;
$point: #99f100;
$bg: #f6f6f7;
$headerCategoryBgColor: rgba(153, 241, 0, 0.4);

/*
Font face
*/
@font-face {
  font-family: "GmarketSansMedium";
  src: url("./Assets/Fonts/GmarketSansTTFMedium.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "GmarketSansBold";
  src: url("./Assets/Fonts/GmarketSansTTFBold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "GmarketSansLight";
  src: url("./Assets/Fonts/GmarketSansTTFLight.ttf") format("truetype");
  font-weight: 300;
}
/*
Desktop font size
*/
$h0_size: 34px;
$h1_size: 20px;
$h2_size: 22px;
$headline_size: 20px;
$body_size: 18px;
$footnote1_size: 16px;
$footnote2_size: 15px;
$caption_size: 14px;
/*
Mobile font size
*/
$h0_mobile_size: 34px;
$h1_mobile_size: 27px;
$h2_mobile_size: 20px;
$headline_mobile_size: 18px;
$body1_mobile_size: 16px;
$body2_mobile_size: 14px;
$body3_mobile_size: 14px;
$footnote2_mobile_size: 12px;
$caption_mobile_size: 10px;

/*
Font weight
*/
$default_weight: 400;
$h2_weight: 700;

/*
Desktop line height
*/
$h0_height: 50px;
$h1_height: 30px;
$h2_height: 36px;
$headline_height: 32px;
$body1_height: 34px;
$body2_height: 27px;
$footnote1_height: 21px;
$footnote2_height: 19px;
$caption_height: 16px;

/*
Mobile line height
*/
$h0_mobile_height: 38px;
$h1_mobile_height: 27px;
$h2_mobile_height: 30px;
$headline_mobile_height: 21px;
$body1_mobile_height: 24px;
$body2_mobile_height: 22px;
$body3_mobile_height: 18px;
$footnote2_mobile_height: 14px;
$caption_mobile_height: 12px;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "GmarketSansMedium", "GmarketSansLight", "GmarketSansBold",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  margin: 0;
}

#root {
}

// layout size
$full_screen: 1440px;
$content_screen: 1280px;

// header size
$header_height: 100px;
