$gray0: #000000;
$gray1: #4b4b4b;
$gray2: #818181;
$gray3: #bdbdbd;
$gray4: #e0e0e0;
$gray5: #ffffff;
$point: #99f100;
$bg: #f6f6f7;

@font-face {
  font-family: "GmarketSansMedium";
  src: url("./Assets/Fonts/GmarketSansTTFMedium.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "GmarketSansBold";
  src: url("./Assets/Fonts/GmarketSansTTFBold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "GmarketSansLight";
  src: url("./Assets/Fonts/GmarketSansTTFLight.ttf") format("truetype");
  font-weight: lighter;
}

$font: (
  $h0: (
    font-size: 50px,
    font-weight: 400,
    line-height: 50px,
  ),
  $h1: (
    font-size: 30px,
    font-weight: 400,
    line-height: 30px,
  ),
  $h2: (
    font-size: 30px,
    font-weight: 700,
    line-height: 36px,
  ),
  $headline: (
    font-size: 24px,
    font-weight: 700,
    line-height: 32px,
  ),
  $body1: (
    font-size: 20px,
    font-weight: 400,
    line-height: 34px,
  ),
  $body2: (
    font-size: 20px,
    font-weight: 20px,
    line-height: 27px,
  ),
  $footnote1
    (
      font-size: 18px,
      font-weight: 400,
      line-height: 21px,
    ),
  $footnote2
    (
      font-size: 16px,
      font-weight: 400,
      line-height: 19px,
    ),
  $caption
    (
      font-size: 14px,
      font-weight: 400,
      line-height: 16px,
    ),
);

body {
  margin: 0;
  font-family: "GmarketSansMedium", "GmarketSansLight", "GmarketSansBold";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
