$gray0: #000000;
$gray1: #4b4b4b;
$gray2: #818181;
$gray3: #bdbdbd;
$gray4: #e0e0e0;
$gray5: #ffffff;
$point: #99f100;
$bg: #f6f6f7;

@font-face {
  font-family: "GmarketSansMedium";
  src: url("./Assets/Fonts/GmarketSansTTFMedium.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "GmarketSansBold";
  src: url("./Assets/Fonts/GmarketSansTTFBold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "GmarketSansLight";
  src: url("./Assets/Fonts/GmarketSansTTFLight.ttf") format("truetype");
  font-weight: 300;
}

$h0_size: 50px;
$h1_size: 30px;
$headline_size: 24px;
$body_size: 20px;
$footnote1_size: 18px;
$footnote2_size: 16px;
$caption_size: 14px;

$default_weight: 400;
$h2_weight: 700;

$h0_height: 50px;
$h1_height: 30px;
$h2_height: 36px;
$headline_height: 32px;
$body1_height: 34px;
$body2_height: 27px;
$footnote1_height: 21px;
$footnote2_height: 19px;
$caption_height: 16px;

body {
  margin: 0;
  font-family: "GmarketSansMedium", "GmarketSansLight", "GmarketSansBold",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
